.shop-dropdown{
    position: absolute;
    width: 700px;
    height: 40px;
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    background-color: black;
    top: 90px;
    right: 305px;
    z-index: 5;
}